.App {

}
body{
  background-color: rgb(51, 53, 53);

}
.price {
  font-size: 3vw;
  color: red;
  margin-left: 50px;
}

.num {
  font-size: 5vw;
  color: rgb(0, 255, 34);
}
.number {
  display: flex;
  position: absolute;
  top: 8vw;
  left: 10vw;
  align-items: center;
}
.chart-timeline {
  display: flex;
  position: relative;
}
.color-list {
  display: flex;
  font-size: 2vw;
  width: 100%;
  padding: 0, 100px;
}
.chart {
  position: relative;
  width: 85vw;
  height: 600px;
}
@media only screen and (max-width: 600px) {
  .price {
    font-size: 15px;
    margin-left: 20px;
  }

  .num {
    font-size: 20px;
    color: rgb(0, 255, 34);
  }
  .chart {
    position: relative;
    width: 95vw;
  }
}

.navbar {
  background-color: #55dcee;
  padding: 10px;
}

.navbar-nav {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.nav-item {
  display: inline;
  margin: 0 100px;
}

.nav-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #ccc;
}